
{{> head }}

{{> navbar}}

<di class="row">
    <div class="col-8">
        <h1>Columna1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi fuga, impedit officia voluptates veritatis natus laborum iusto sunt expedita libero et, modi in incidunt dolore nisi quidem, eius nemo distinctio.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/tree.jpeg" class="img-thumbnail">
    </div>
</di>

{{> footer }}